/*1*/
h1 {
    color: blue;
}

p {
    color: rgb(23, 156, 173);
}

/*10*/
.pascual {
    background-color: aqua;
    color: black;
}

/*100*/
#colegio { 
    background-color: yellow;
    color: red;
}

/*1000*/
#colegio { 
    background-color: yellow;
    color: red;
}